{
    "presets": [["es2015", { "modules": false }], "react"],
    "plugins": [
      "extract-hoc/babel",
      "react-hot-loader/babel",
      "transform-class-properties",
      ["transform-imports", {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        }
      }]
    ],
    "env": {
      "test": {
        "presets": ["es2015", "react"],
        "plugins": ["transform-class-properties"]
      }
    }
  }