{
  "presets": [
    [
      "env", {
        "targets": ["chrome", "firefox", "safari", "edge", "ie 11"],
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
      ["transform-imports", {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        },
        "react-router": {
          "transform": "react-router/${member}",
          "preventFullImport": true
        },
        "react-router-dom": {
          "transform": "react-router-dom/${member}",
          "preventFullImport": true
        }
      }]
    ],
    "env": {
      "test": {
        "presets": ["es2015", "react"],
        "plugins": [
          "transform-class-properties",
          ["babel-plugin-webpack-alias", { "config": "./webpack/webpack.prod.js" }]
        ]
      },
    "development": {
      "plugins": [
        "extract-hoc/babel",
        "react-hot-loader/babel"
      ]
    }
  }
}