{
    "presets": [["es2015", { "modules": false }], "react"],
    "plugins": [
      "extract-hoc/babel",
      "react-hot-loader/babel",
      "transform-class-properties"
    ],
    "env": {
      "test": {
        "presets": [["es2015"], "react"]
      }
    }
  }